.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}
.name {
  flex: 1;
  margin-right: 10px;
}

.number {
  margin-right: 10px;
}
.button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
}
